* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.full-page {
  text-align: center;
}

.pic img {
  width: 33rem;
  height: 20rem;
}

.logolo img {
  margin-bottom: 1.5rem;
}

p {
  margin-top: 0.5rem;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Libre Franklin", sans-serif;
}

span {
  font-weight: 100;
  color: grey;
}
input {
  height: 2.5rem;
  width: 23rem;
  border-radius: 3rem;
  border: 1.5px solid rgba(128, 128, 128, 0.589);
  text-indent: 1.5rem;
  font-size: 1rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.374);
  font-size: 14px;
}

button {
  background-color: blue;
  color: white;
  margin-left: 1rem;
  height: 2.6rem;
  width: 10rem;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 255, 0.541);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 15px;
  box-shadow: 0px 1px 20px -18px darkslateblue;
}

button:hover {
  cursor: pointer;
  border-style: none;
  background-color: rgba(39, 39, 249, 0.717);
}

.booto {
  margin: 2rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hmm img {
  height: 1.8rem;
  width: 1.8rem;
  margin: 2rem 1rem 1rem 1rem;
}

.hmm img:hover {
  cursor: pointer;
}
.lower p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.516);
}

/*  Here We Add Media Query  */

@media (max-width: 414px) {
  .full-page {
    margin-top: -5rem;
  }

  .pic img {
    width: 18rem;
    height: 10rem;
  }

  h1 {
    font-size: 1.5rem;
    font-family: "Libre Franklin", sans-serif;
  }

  .booto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input {
    margin-bottom: 1.7rem;
    height: 2.3rem;
    width: 16rem;
  }

  button {
    margin-left: 0;
    height: 2.4rem;
    width: 16rem;
    box-shadow: 2px 10px 20px -12px rgb(80, 56, 237);
  }
  p {
    margin-top: 0.5rem;
    font-size: 15px;
  }

  .lower {
    margin-top: 4rem;
  }
  .hmm img {
    height: 1.3rem;
    width: 1.3rem;
    margin: 0.5rem 1rem 0.3rem 0.5rem;
  }
  .lower p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.516);
  }
}
